<tr>
  <%= link_to code_object.name, code_object_path(code_object) %>

  <% code_object.classes_and_modules.each do |obj| %>
    <ul>
      <%= render partial: "code_objects/navigation",
        object: obj, as: :code_object %>
    </ul>
  <% end %>


</li>
